/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/mix-manifest.json
/public/css/app.css
/public/css/fontawesome
/public/css/aos
/public/css/lightbox
/public/css/summernote
/public/css/tempusdominus
/public/css/xs.*
/public/css/sm.*
/public/css/md.*
/public/css/lg.*
/public/css/xl.*
/public/js/app.js
/public/js/main.js
/public/js/step1.js
/public/js/aos
/public/js/lightbox
/public/js/summernote
/public/js/moment
/public/js/tempusdominus
/public/js/chart
/public/videos/
/public/uploads/